@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .bg-ocean-gradient {
    background: linear-gradient(180deg, 
      #002F5E 0%, 
      #0A3A6B 40%, 
      #143d6b 70%,
      #589BE3 100%
    );
  }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
